*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}
.app{
  width: 800px;
}
.post{
  width:1000px;
  display: flex;
  padding: 15px;
  border:2px solid teal;
  margin-top:15px;
  justify-content: space-between;
  align-items: center;
}
.postbutton{
  height: 30px;
  width: 80px;
}
.myBtn{
  padding: 4px 15px;
  color:teal;
  background: transparent;
  font-size: 14px;
  border:1px solid teal
}


